<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SỬA LOẠI TRƯỜNG</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<th:block th:replace="~{layout::headerAdmin}"></th:block>
<div style="margin-left: 200px; padding: 95px;">
    <h1 class="my-4">SỬA THÔNG TIN LOẠI TRƯỜNG</h1>
    <form th:action="@{/Admin/LoaiTruongs/edit}" method="post" th:object="${loaiTruong}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="ten">Tên Loại Trường</label>
            <input type="text" class="form-control" id="ten" th:field="*{tenLoaiTruong}" required>
        </div>
        <button type="submit" class="btn btn-primary">Lưu</button>
        <a th:href="@{/Admin/LoaiTruongs}" class="btn btn-secondary">Trở về</a>
    </form>
</div>
<th:block th:replace="~{layout::footerAdmin}"></th:block>
</body>
</html>