<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>THÊM MÔN THI</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<th:block th:replace="~{layout::headerAdmin}"></th:block>
<div class="container" style="margin-left: 200px; padding: 95px;">
    <h1 class="my-4">THÊM MÔN THI</h1>

    <form th:action="@{/Admin/MonThis/add}" th:object="${monThis}" method="post">
        <div class="form-group">
            <label for="tenMonThi">Tên môn thi</label>
            <input type="text" class="form-control" id="tenMonThi" th:field="*{tenMonThi}" required>
        </div>
        <button type="submit" class="btn btn-primary">Tạo</button>
        <a th:href="@{/Admin/MonThis}" class="btn btn-secondary">Trở về</a>
    </form>
</div>
<th:block th:replace="~{layout::footerAdmin}"></th:block>
</body>
</html>