<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <title>MOS - Your Gateway to Academic Excellence</title>
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:fragment="custom-css" rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="d-flex flex-column h-100">

<div th:fragment="header" sec:authorize="!isAuthenticated() or hasAuthority('USER')"
     style="color: #fff; text-align: center; position: fixed; width: 100%; z-index: 1000;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <span class="icon-text">M</span>
                <span class="icon-text">O</span>
                <span class="icon-text">S</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">
                            Trang chủ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/User/CuocThis">
                            Cuộc thi
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/User/PhieuDangKys/search">
                            Phiếu đăng ký
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/User/PhieuKetQuas/search">
                            Tra kết quả
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/User/edit">
                            Thông tin
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="#">
                            <i class="bi bi-person-circle"></i>
                            <span th:text="${#authentication.getName()}"></span>
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="#">
                            <i class="bi bi-person-circle"></i>
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-outline-danger btn-sm" type="submit">Logout</button>
                            </form>
                        </a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a class="nav-link btn btn-outline-light" href="/login">
                            <i class="bi bi-box-arrow-in-right"></i>
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="headerAdmin" sec:authorize="hasAnyAuthority('ADMIN','MANAGER')"
     style="background-color: #333; color: #fff; padding: 6px; text-align: center; position: fixed; width: 100%; z-index: 1000;">
    <h1>Hệ thống hỗ trợ cuộc thi MOS</h1>
    <a sec:authorize="isAuthenticated()"
       style="color: #fff; text-decoration: none; position: absolute; right: 20px; top: 20px;">
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-outline-danger btn-sm" type="submit">Logout</button>
        </form>
    </a>
    <a sec:authorize="!isAuthenticated()" href="/login"
       style="color: #fff; text-decoration: none; position: absolute; right: 20px; top: 20px;">Đăng xuất</a>
</div>
<aside th:fragment="headerAdmin" sec:authorize="hasAnyAuthority('ADMIN','MANAGER')"
       style="width: 200px; background-color: #2c3e50; height: 100vh; color: #fff; position: fixed; margin-top: 68px; z-index: 1000;">
    <ul style="list-style-type: none; padding: 0;">
        <li>
            <a href="/Admin" style="color: #fff; padding: 15px; display: block; text-decoration: none;">
                <i class="fas fa-home" style="padding-right: 5px;"></i>
                Trang chủ
            </a>
        </li>
        <li>
            <a href="/Admin/LoaiTruongs" style="color: #fff; padding: 15px; display: block; text-decoration: none;">
                <i class="fas fa-school" style="padding-right: 5px;"></i>
                Loại trường
            </a>
        </li>
        <li>
            <a href="/Admin/Truongs" style="color: #fff; padding: 15px; display: block; text-decoration: none;">
                <i class="fas fa-university" style="padding-right: 5px;"></i>
                Trường
            </a>
        </li>
        <li>
            <a href="/Admin/MonThis" style="color: #fff; padding: 15px; display: block; text-decoration: none;">
                <i class="fas fa-book" style="padding-right: 5px;"></i>
                Môn thi
            </a>
        </li>
        <li>
            <a href="/Admin/QuyDinhs" style="color: #fff; padding: 15px; display: block; text-decoration: none;">
                <i class="fas fa-gavel" style="padding-right: 5px;"></i>
                Quy định
            </a>
        </li>
        <li>
            <a href="/Admin/NoiDungs" style="color: #fff; padding: 15px; display: block; text-decoration: none;">
                <i class="fas fa-file-alt" style="padding-right: 5px;"></i>
                Nội dung
            </a>
        </li>
        <li>
            <a href="/Admin/CuocThis" style="color: #fff; padding: 15px; display: block; text-decoration: none;">
                <i class="fas fa-trophy" style="padding-right: 5px;"></i>
                Cuộc thi
            </a>
        </li>
        <li sec:authorize="hasAnyAuthority('MANAGER')">
            <a href="/Manager/PhieuSuaDiems" style="color: #fff; padding: 15px; display: block; text-decoration: none;">
                <i class="fas fa-file-alt" style="padding-right: 5px;"></i>
                Phiếu sửa điểm
            </a>
        </li>
        <li>
            <a href="/list/ChuaDuyet" style="color: #fff; padding: 15px; display: block; text-decoration: none;">
                <i class="fas fa-users" style="padding-right: 5px;"></i>
                Quản lý tài khoản
            </a>
        </li>
        <li>
            <a href="/User/edit" style="color: #fff; padding: 15px; display: block; text-decoration: none;">
                <i class="fas fa-id-card" style="padding-right: 5px;"></i>
                Thông tin cá nhân
            </a>
        </li>
    </ul>
</aside>

<div th:fragment="footer"
     style="background-color: #333; color: #fff; text-align: center; padding: 10px; bottom: 0; width: 100%;">
    <p>© 2024 Trang Quản Trị. Đã đăng ký bản quyền.</p>
</div>

<div th:fragment="footerAdmin"
     style="background-color: #333; color: #fff; text-align: center; padding: 10px; position: fixed; bottom: 0; width: 100%;">
    <p>© 2024 Trang Quản Trị. Đã đăng ký bản quyền.</p>
</div>
</body>
</html>
