<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh Sách Phiếu Nộp Bài</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container my-5">
  <h1 class="mb-4">Danh Sách Phiếu Nộp Bài</h1>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>File nộp</th>
      <th>Người nộp</th>
      <th>Kết quả</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="phieu : ${phieuNopBai}">
      <td th:text="${phieu.id}"></td>
      <td>
        <a th:href="${phieu.fileUrl}" target="_blank">tải File</a>
      </td>
      <td th:text="${phieu.user.hoten}"></td>
      <td>
        <a class="btn btn-primary" th:href="@{/Admin/PhieuNopBais/edit/{id}(id=${phieu.id})}">Chấm bài</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>